body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container-i {
    width: 597px;
    height: 725px;
    display: flex;
    flex-direction: column;
    padding: 36px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(93, 93, 94, 0.5);
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    gap: 5px;
    align-items: center;
}

.btns {
    display: flex;
    align-items: center;
    gap: 35px;
}

.input-btn {
    height: auto;
    width: 250px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.create-btn {
    margin: 10px 0;
    height: 45px;
    width: 250px;
    border-radius: 8px;
    background-color: #000148;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-btn:hover {
    background-color: #002070;
}

.contact-info {
    margin: 10px 0;
}

a:hover {
    color: #bd14a9;
}